<div class="col-lg-12">
  <div class="mycontainer">
    <h1><span>
              You haven't used Rooster yet?
          </span></h1>
    <h3><span>
            <button class="btn mybutton" onclick="location.href='/auth/google_oauth2';">Sign in using Gmail</button>
          </span></h3>
  </div>
</div>