<h1 align="center">ROOSTER</h1>
<br><br>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <td><h3>Calendar ID</h3></td>
      <td><h3>Num Events</h3></td>
    </tr>
  </thead>

  <tbody>
  <% @events_summary.each do |calendar_id, events| %>
      <tr>
        <td><h5><%= calendar_id %></h5></td>
        <td><h5><%= events.items.size %></h5></td>
      </tr>
  <% end %>
  </tbody>

</table>
