<h1 align="center">ROOSTER</h1>
<br><br>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <td>Calendar ID</td>
      <% @events_gist_headings.each do |heading| %>
        <td><%= heading %></td>
      <% end %>
    </tr>
  </thead>

  <tbody>
  <% @events_gist.each do |calendar_id, event_gist_hash| %>
      <tr>
        <td><h5><%= calendar_id %></h5></td>
        <% event_gist_hash.values.each do |column| %>
            <td title="<%= column %>"><%= column.class == Hash ? number_to_percentage(column['percent_time_in_meetings'], precision: 2) : column %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>

</table>
