<h1 align="center">ROOSTER</h1>
<br><br>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <td>Calendar ID</td>
      <% @events_gist_headings.each do |heading| %>
        <td><%= heading %></td>
      <% end %>
    </tr>
  </thead>

  <tbody>
  <% @base.each do |calendar_id, summary| %>
      <tr>
        <td><%= calendar_id %></td>
        <% summary.map do |quarter, data| %>
            <td title="<%= GistUtils.print(@more[calendar_id][quarter]) %>"><%= data %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>

</table>
